<div class="container" id="container-fix">
  <div class="row">
    <div class="col-md-9">
      <h1><%= t "title" %></h1>
      <hr id="hr1">
      <hr id="hr2">
      <h4><%= t "title_book" %></h4>
      <p><%= t "content" %></p>
    <div class="box-border">
      <p id="tags"><%= t "tags" %>
      </p>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" id ="dropdown-toggle" type="button"
          id="menu1"data-toggle="dropdown"><%= t "category" %><span id="caret1" class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="dropdown" role="menu">
        <% @categories.each do |category| %>
          <li class="<%= 'active' if params[:category] == category.name %>">
            <%= link_to category.name, root_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render "books/book" %>
    </div>
  </div>
</div>
