<div class="row">
  <div class="col-md-8">
    <h1><%= t "title" %></h1>
    <hr id="hr1">
    <hr id="hr2">
    <h4><%= t "title_book" %></h4>
    <p><%= t "content" %></p>
    <div class="box-border">
      <p id="tags"><%= t "tags" %>
        <% @tags.each do |tag| %>
          <%= link_to tag.name, root_path(tag: tag.name), class: "label label-info", id: "tag-color" %>
        <% end %>
      </p>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" id ="dropdown-toggle" type="button"
          id="menu1"data-toggle="dropdown"><%= t "categories" %><span id="caret1" class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="dropdown" role="menu">
        <% @categories.each do |category| %>
          <li class="<%= 'active' if params[:category] == category.name %>">
            <%= link_to category.name, root_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render "books/book" %>
  </div>
  <% if logged_in? %>
    <div class="col-md-4">
      <h2>Activities</h2>
      <ul class="activities">
        <% @activities.each do |activity| %>
          <li id="activity-<%= activity.id %>">
            <span class="activity">
              <%= link_to activity.user.name,
                user_path(activity.user_id) %>
              <%= activity.timeline %>
              <% if activity.follow? %>
                <%= link_to activity.target.name, user_path(activity.target) %>
              <% elsif activity.review? %>
                <%= link_to activity.target.title, book_path(activity.target) %>
              <% elsif activity.comment? %>
                <%= link_to activity.target.title, book_path(activity.target) %>
              <% end %>
            </span>
            <span class="timestamp">
              <%= time_ago_in_words activity.created_at %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

