<div>
  <h2>
    <strong><%= @book.title %></strong>
  </h2>
  <h3>
    <strong><%= t "by" %><%= @book.author %></strong>
  </h3>
  <div class="col-md-4" id="col-md-4">
    <%= image_tag @book.book_img.url(:book_show2), class: "img-responsive"%>
  </div>
  <div class="col-md-8" id = "col-md-8">
    <p>
      <%= @book.description %>
    </p>
    <div>
      <%= link_to t("readbook"), "#", class: "btn btn-primary", type: "button", id: "button-read" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="post">
      <div class="row">
        <div class="col-md-12" id="post-header-line">
          <span class="glyphicon glyphicon-book"></span> <%= @category_name %> |
          <span class="glyphicon glyphicon-calendar"></span><%= l @book.created_at,format: :short %> |
          <span class="glyphicon glyphicon-comment"></span><%= t "comments" %> |
          <i class="glyphicon glyphicon-heart"></i><%= t "favorite" %>|
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="container-fix">
    <%= render "reviews/rating" %>
    <%= render "reviews/form" %>
    <div class = "row">
      <div class="col-md-6 mess-area-add"></div>
    </div>
    <div class= "list-review">
      <%= render @reviews %>
      <%= will_paginate @reviews %>
    </div>
  </div>
</div>
