<div id="content">
  <h2><%= t "user.manage" %></h2>
  <table>
    <thead>
      <tr>
        <th><%= t "user.id" %></th>
        <th><%= t "user.name" %></th>
        <th><%= t "user.email" %></th>
        <th><%= t "user.delete" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to t("user.delete"), admin_user_path(user),
              method: :delete, data: {confirm: t("confirm_delete")},
              class: "delete" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
