<% if logged_in? %>
  <div class="row" id="reviews-row">
    <div class="col-md-6">
      <div class="well well-sm">
        <div class="text-left">
          <p class="btn btn-success btn-green" id="open-review-box">
            <%= t "write_review" %>
          </p>
        </div>
        <div class="row" id="post-review-box">
          <div class="col-md-12">
            <%= form_for [@book, @build_review], remote: true do |f| %>
              <%= f.text_field :title, class: "form-control animated reset-input",
                cols: Settings.reviews.cols, id: "new-title", placeholder:
                t("review_title"), rows: Settings.reviews.rows %>
              <%= f.text_area :content, class: "form-control animated reset-input",
                cols: Settings.reviews.cols, id: "new-review",
                placeholder: t("review_content"),rows: Settings.reviews.rows %>
              <span class="rating">
                <% Settings.reviews.loop_rating.each do |i| %>
                  <%= f.radio_button :rate, "#{i}", class: "reset-input"  %>
                  <%= f.label :rate.to_s + "_#{i}"%>
                <% end %>
              </span>
              <div class="text-right">
                <p class="btn btn-danger btn-sm" id="close-review-box" >
                  <span class="glyphicon glyphicon-remove"></span><%= t "cancle" %>
                </p>
                <%= f.submit t("add_review"), class: "btn btn-success btn-lg" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <p><%= t "check_login" %> <%= link_to t("login"), login_path %></p>
<% end %>
