<div class="row">
  <div class="col-sm-3">
    <div class="rating-block">
      <h4><%= t "title_average_rating" %></h4>
      <h2 class="bold padding-bottom-7"><%= @avg_rating.floor %>
        <small>
          <%= t ("value_average_rating")%>
        </small>
      </h2>
      <% i = 1 %>
      <% while i <= @avg_rating.floor do %>
        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>
        <% i += 1 %>
      <% end %>
      <% while i <= 5 do %>
        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>
        <% i += 1 %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <h4><%= t "title_count_rating" %></h4>
    <% Settings.reviews.loop_rating.each do |i| %>
    <div class="pull-left">
      <div class="pull-left" id="pull-left">
        <div id="value-start"><%= "#{i}" %>
          <span class="glyphicon glyphicon-star"></span>
        </div>
      </div>
      <div class="pull-left" id="pull-left-1">
        <div class="progress" id="progress">
          <div class="progress-bar progress-bar-success" role="progressbar"
              id="progress-bar">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
      <div class="pull-right" id="pull-right">
        <%= rate_value "#{i}" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
