<header class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
  <div class="container" id="container-fix">
    <%= link_to t("bookreview"), "#", class: "navbar-brand" %>
    <nav>
    <div class="form-inline">
      <%= form_tag root_path, method: :get, class: "nav navbar-nav navbar-left" do %>
        <%= text_field_tag :search, params[:search], class: "form-control",
          placeholder: t("search")  %>
        <%= submit_tag t("search"), class: "btn btn-default", name: nil %>
      <% end %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("help"), "#" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t("admin"), admin_root_path %></li>
          <% end %>
          <li><%= link_to t("users"), "#" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "acc" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), current_user %></li>
              <li><%= link_to t("settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("logout"), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

