<div id="section-navigation">
 <ul class="navi">
   <li><a href="#"><%= t "sidebar.add_cat" %></a></li>
   <li><a href="#"><%= t "sidebar.view_cat" %></a></li>
   <li><a href="#"><%= t "sidebar.add_book" %></a></li>
   <li><a href="#"><%= t "sidebar.view_cat" %></a></li>
   <li><a href="#"><%= t "sidebar.manage_users" %></a></li>
 </ul>
</div>
