<div id="section-navigation">
 <ul class="navi">
   <li><%= link_to t("sidebar.add_cat"), new_admin_category_path %></li>
   <li><%= link_to t("sidebar.view_cat"), admin_categories_path %></li>
   <li><%= link_to t("sidebar.add_book"), new_admin_book_path %></li>
   <li><%= link_to t("sidebar.view_book"), admin_books_path %></li>
   <li><%= link_to t("sidebar.manage_reviews"), admin_reviews_path %></li>
   <li><%= link_to t("sidebar.manage_tags"), admin_tags_path %></li>
   <li><%= link_to t("sidebar.manage_users"), "#" %></li>
 </ul>
</div>
